<%- include("partials/header"); %>

    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>
    <% let num=postContent.length; %>
        <% postContent.forEach((ele,ind)=>{ %>
            <h1>
                <%= ele.postTitle %>
            </h1>
            <p>
                <%=postContent[ind].postBody.substr(0,99) + "..."%>
                    <a href="/posts/<%=ele.title%>">Read More</a>
            </p>
                <% }) %>

                    <%- include("partials/footer"); %>