<%- include("partials/header"); %>

    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>
    <% let num=postContent.length; %>
        <% postContent.forEach((ele,ind)=>{ %>
            <h1>
                <%= postContent[ind].title %> 
            </h1>
            <p>
                <%= postContent[ind].body %> 

            </p>
            <% console.log(postContent[ind].title); %>
                <% }) %>
                
                    <%- include("partials/footer"); %>